menu "Example Configuration"

    if FORMAT_MJPEG_CAM1
        config EXAMPLE_JPEG_COMPRESSION_QUALITY
            int "JPEG Compression Quality"
            default 80
            range 1 100
            help
                JPEG compression quality, higher value means higher output
                image quality.
    endif

    if FORMAT_H264_CAM1
        config EXAMPLE_H264_I_PERIOD
            int "H.264 Intra Frame period"
            default 120
            range 1 120
            help
                H.264 I-Frame period.
        
        config EXAMPLE_H264_BITRATE
            int "H.264 Bitrate"
            default 1000000
            range 25000 2500000
            help
                H.264 bitrate.
        
        config EXAMPLE_H264_MIN_QP
            int "H.264 Minimum Quality"
            default 25
            range 1 51
            help
                H.264 minimum quality, the value should be less than H.264 maximum quality.

        config EXAMPLE_H264_MAX_QP
            int "H.264 Maximum Quality"
            default 26
            range 1 51
            help
                H.264 maximum quality, the value should be larger than H.264 minimum quality.
    endif
endmenu
