CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_20M=y

CONFIG_SIMULATED_INTF=y

CONFIG_CAMERA_SIM=y
CONFIG_CAMERA_SIM_AUTO_DETECT=y
CONFIG_CAMERA_SIM_NAME="sim_cam"

CONFIG_DVP_ENABLE=y
CONFIG_MIPI_CSI_VIDEO_DEVICE_ENABLE=y
CONFIG_CAM_ISP_GLOABL_ENABLE=y
CONFIG_CAMERA_SC2336=y

CONFIG_MIPI_CSI_LINESYNC_SUPPORT=y