menu "Espressif Camera Sensors Configurations"
    menu "Camera Sensor Configuration"
        rsource "sensors/bf3901/Kconfig.bf3901"
        rsource "sensors/bf3925/Kconfig.bf3925"
        rsource "sensors/bf3a03/Kconfig.bf3a03"
        rsource "sensors/gc0308/Kconfig.gc0308"
        rsource "sensors/gc2145/Kconfig.gc2145"
        rsource "sensors/ov2640/Kconfig.ov2640"
        rsource "sensors/ov2710/Kconfig.ov2710"
        rsource "sensors/ov5640/Kconfig.ov5640"
        rsource "sensors/ov5645/Kconfig.ov5645"
        rsource "sensors/ov5647/Kconfig.ov5647"
        rsource "sensors/sc030iot/Kconfig.sc030iot"
        rsource "sensors/sc035hgs/Kconfig.sc035hgs"
        rsource "sensors/sc101iot/Kconfig.sc101iot"
        rsource "sensors/sc202cs/Kconfig.sc202cs"
        rsource "sensors/sc2336/Kconfig.sc2336"

        config CAMERA_SENSOR_SWAP_PIXEL_BYTE_ORDER
            bool "Swap Pixel Byte Order"
            default y if IDF_TARGET_ESP32P4
            default n if IDF_TARGET_ESP32S3
            depends on CAMERA_OV2640 || CAMERA_BF3901
            help
                If enabled, the pixel byte order will be swapped, for example:

                    Original RGB565 byte order:
                    0x00 0x01 0x02 0x03 0x04 0x05
                     B  G  R   B  G  R   B  G  R

                    Swapped RGB565 byte order:
                    0x00 0x01 0x02 0x03 0x04 0x05
                     R  G  B   R  G  B   R  G  B

                    Original YUYV byte order:
                    0x00 0x01 0x02 0x03 0x04 0x05 0x06 0x07
                     Y    U    Y    V    Y    U    Y    V

                    Swapped YUYV byte order:
                    0x00 0x01 0x02 0x03 0x04 0x05 0x06 0x07
                     U    Y    V    Y    U    Y    V    Y

                Please note that this option is only valid for OV2640 and BF3901.

                If you want to swap the pixel byte order of other sensors,
                please use ESP_VIDEO_ENABLE_SWAP_BYTE. Only ESP32-P4 is supported;
                other platforms are not supported.
    endmenu
    
    menu "Camera XCLK generator Configuration"
        config CAMERA_XCLK_USE_LEDC
            bool "XCLK generated by LEDC"
            default n if IDF_TARGET_ESP32P4
            default y
            help
                If enabled, XCLK can be generated from LEDC.
        
        config CAMERA_XCLK_USE_ESP_CLOCK_ROUTER
            bool "XCLK generated by ESP clock router"
            depends on IDF_TARGET_ESP32P4
            default y
            help
                If enabled, XCLK can be generated from SoC's supported root clocks. Please refer to SoC's supported root clocks at:
                `https://docs.espressif.com/projects/esp-idf/en/latest/esp32p4/api-reference/peripherals/clk_tree.html`
    endmenu

    menu "Camera Motor Configuration"
        rsource "motors/dw9714/Kconfig.dw9714"

        config CAMERA_MOTOR_DEVICE_USED
            bool 
            default n
            help
                This option indicates whether any camera motor driver is enabled in the configuration.
                It is automatically set when any of the motor drivers are enabled.

    endmenu

    menu "Camera Controller SPI Configuration"
        config CAM_CTLR_SPI_ISR_CACHE_SAFE
            bool "Camera Controller SPI ISR Cache-Safe"
            default y
            select SPI_SLAVE_ISR_IN_IRAM
            help
                Ensure the camera controller SPI ISR is Cache-Safe. When enabled, the ISR handler
                will be available when the cache is disabled.
    endmenu
endmenu
