menu "SCCB configuration"
    choice SCCB_HARDWARE_I2C_PORT
        bool "I2C peripheral to use for SCCB"
        default SCCB_HARDWARE_I2C_PORT1

        config SCCB_HARDWARE_I2C_PORT0
            bool "I2C0"
        config SCCB_HARDWARE_I2C_PORT1
            bool "I2C1"

    endchoice

    config SCCB_CLK_FREQ
        int "SCCB clk frequency"
        default 100000
        range 100000 400000
        help
            Increasing this value can reduce the initialization time of the sensor.
            Please refer to the relevant instructions of the sensor to adjust the value.

endmenu
