CONFIG_CAMERA_SC2336=y

CONFIG_ESP_VIDEO_ENABLE_HW_H264_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_JPEG_VIDEO_DEVICE=y

CONFIG_FORMAT_H264_CAM1=y

CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_SPIRAM_SPEED_200M=y

CONFIG_UVC_CAM1_FRAMERATE=30
