menu "MIPI-CSI Video Device Configuration"
    depends on SOC_MIPI_CSI_SUPPORTED

    config MIPI_CSI_VIDEO_DEVICE_ENABLE
        bool "Enable MIPI-CSI Video Device"
        default y
        help
            Select this option, enable MIPI-CSI video device.

endmenu
