menu "Camera Video Device Configuration"
    depends on SOC_MIPI_CSI_SUPPORTED

    config MIPI_CSI_VIDEO_DEVICE_ENABLE
        bool "Enable MIPI-CSI based Video Device"
        default y
        help
            Select this option, enable MIPI-CSI based video device.

endmenu
