menu "ISP configuration"
    depends on IDF_TARGET_ESP32P4

    config CAM_ISP_GLOABL_ENABLE
        bool "ISP global enable"
        default y
        help
            It enables ISP module for MIPI&DVP camera sensor.

    config CAM_SENSOR_COLOR_BAYER_MODE
        int "Sensor array region color filter layout"
        depends on CAM_ISP_GLOABL_ENABLE
        default 1
        range 0 3
        help
            Select the color filters used on the camera sensor.
            00 : BG/GR    01 : GB/RG   10 : GR/BG  11 : RG/GB.

    config CAM_ISP_GLOABL_ENABLE
        bool "ISP global enable"
        default y
        help
            It enables ISP module for MIPI&DVP camera sensor.

endmenu
