menu "Example Video Initialization Configuration"

    choice EXAMPLE_SELECT_TARGET_DEVELOPMENT_BOARD
        prompt "Select Target Development Board"
        default EXAMPLE_SELECT_ESP32P4_FUNCTION_EV_BOARD_V1_4
        help
            Select the target development board. If your board is in this menuconfig,
            please select "Customized Development Board" and configure the GPIO pin
            based on your development board.

        config EXAMPLE_SELECT_ESP32P4_FUNCTION_EV_BOARD_V1_4
            bool "ESP32-P4-Function-EV-Board V1.4"

        config EXAMPLE_SELECT_ESP32P4_FUNCTION_EV_BOARD_V1_5
            bool "ESP32-P4-Function-EV-Board V1.5"

        config EXAMPLE_SELECT_ESP32P4_EYE
            bool "ESP32-P4-EYE"

        config EXAMPLE_SELECT_CUSTOMIZED_DEV_BOARD
            bool "Customized Development Board"
    endchoice

    choice EXAMPLE_CAM_SENSOR_INTERFACE
        prompt "Camera Sensor Interface"
        default EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR
        help
            Select the camera sensor interface based on the development board.

        config EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR
            bool "MIPI-CSI"
            depends on ESP_VIDEO_ENABLE_MIPI_CSI_VIDEO_DEVICE

        config EXAMPLE_ENABLE_DVP_CAM_SENSOR
            bool "DVP"
            depends on ESP_VIDEO_ENABLE_DVP_VIDEO_DEVICE

        config EXAMPLE_ENABLE_SPI_CAM_SENSOR
            bool "SPI"
            depends on ESP_VIDEO_ENABLE_SPI_VIDEO_DEVICE
    endchoice

    if EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR
        config EXAMPLE_MIPI_CSI_SCCB_I2C_PORT
            int "MIPI-CSI SCCB I2C Port Number"
            default 0
            range 0 1

        config EXAMPLE_MIPI_CSI_SCCB_I2C_FREQ
            int "MIPI-CSI SCCB I2C Frequency"
            default 100000
            range 100000 400000
            help
                Increasing this value can reduce the initialization time of the camera sensor.
                Please refer to the relevant instructions for the camera sensor to adjust the value.
    
        config EXAMPLE_ENABLE_MIPI_CSI_CAM_MOTOR
            bool "Enable MIPI CSI Camera Motor"
            default y
            depends on ESP_VIDEO_ENABLE_CAMERA_MOTOR_CONTROLLER

        if EXAMPLE_ENABLE_MIPI_CSI_CAM_MOTOR
            config EXAMPLE_MIPI_CSI_CAM_MOTOR_SCCB_I2C_PORT
                int "MIPI CSI Camera Motor SCCB I2C Port Number"
                default 0
                range 0 1

            config EXAMPLE_MIPI_CSI_CAM_MOTOR_SCCB_I2C_FREQ
                int "MIPI CSI Camera Motor SCCB I2C Frequency"
                default 100000
                range 100000 400000
                help
                    Increasing this value can reduce the initialization and configuration time of the camera motor.
                    Please refer to the relevant instructions of the camera motor to adjust the value.
        endif  
    endif

    if EXAMPLE_ENABLE_DVP_CAM_SENSOR
        config EXAMPLE_DVP_SCCB_I2C_PORT
            int "DVP SCCB I2C Port Number"
            default 1
            range 0 1

        config EXAMPLE_DVP_SCCB_I2C_FREQ
            int "DVP SCCB I2C Frequency"
            default 100000
            range 100000 400000
            help
                Increasing this value can reduce the initialization time of the camera sensor.
                Please refer to the relevant instructions for the camera sensor to adjust the value.
    
        config EXAMPLE_DVP_XCLK_FREQ
            int "DVP XCLK Frequency"
            default 20000000    
    endif

    if EXAMPLE_ENABLE_SPI_CAM_SENSOR
        config EXAMPLE_SPI_SCCB_I2C_PORT
            int "SPI SCCB I2C Port Number"
            default 1
            range 0 1

        config EXAMPLE_SPI_SCCB_I2C_FREQ
            int "SPI SCCB I2C Frequency"
            default 100000
            range 100000 400000
            help
                Increasing this value can reduce the initialization time of the camera sensor.
                Please refer to the relevant instructions for the camera sensor to adjust the value.
    
        config EXAMPLE_SPI_CAM_SPI_PORT
            int "SPI Camera Sensor SPI Port Number"
            default 2

        choice EXAMPLE_SPI_CAM_XCLK_RESOURCE
            prompt "SPI Camera Sensor Clock Resource"
            default EXAMPLE_SPI_CAM_XCLK_USE_LEDC if CAMERA_XCLK_USE_LEDC
            default EXAMPLE_SPI_CAM_XCLK_USE_CLOCK_ROUTER if CAMERA_XCLK_USE_ESP_CLOCK_ROUTER
            help
                Select SPI camera sensor clock resource.

            config EXAMPLE_SPI_CAM_XCLK_USE_LEDC
                bool "LEDC"
                depends on CAMERA_XCLK_USE_LEDC
            
            config EXAMPLE_SPI_CAM_XCLK_USE_CLOCK_ROUTER
                bool "Clock Router"
                depends on CAMERA_XCLK_USE_ESP_CLOCK_ROUTER
        endchoice

        config EXAMPLE_SPI_CAM_XCLK_FREQ
            int "SPI XCLK Frequency"
            default 24000000
    endif

    if EXAMPLE_SELECT_CUSTOMIZED_DEV_BOARD
        if EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR
            config EXAMPLE_MIPI_CSI_SCCB_I2C_SCL_PIN
                int "MIPI-CSI SCCB I2C SCL Pin"
                default 8
                range -1 56

            config EXAMPLE_MIPI_CSI_SCCB_I2C_SDA_PIN
                int "MIPI-CSI SCCB I2C SDA Pin"
                default 7
                range -1 56

            config EXAMPLE_MIPI_CSI_CAM_SENSOR_RESET_PIN
                int "MIPI-CSI Camera Sensor Reset Pin"
                default -1
                range -1 56

            config EXAMPLE_MIPI_CSI_CAM_SENSOR_PWDN_PIN
                int "MIPI-CSI Camera Sensor Power Down Pin"
                default -1
                range -1 56

            config EXAMPLE_MIPI_CSI_XCLK_PIN
                int "MIPI-CSI XLCK"
                default -1
                range -1 56
            
            if EXAMPLE_MIPI_CSI_XCLK_PIN >= 0
                config EXAMPLE_MIPI_CSI_XCLK_FREQ
                    int "MIPI-CSI XLCK Frequency"
                    default 24000000
            endif

            if EXAMPLE_ENABLE_MIPI_CSI_CAM_MOTOR
                config EXAMPLE_MIPI_CSI_CAM_MOTOR_SCCB_I2C_SCL_PIN
                    int "MIPI CSI Camera Motor SCCB I2C SCL Pin"
                    default 8
                    range -1 56

                config EXAMPLE_MIPI_CSI_CAM_MOTOR_SCCB_I2C_SDA_PIN
                    int "MIPI CSI Camera Motor SCCB I2C SDA Pin"
                    default 7
                    range -1 56

                config EXAMPLE_MIPI_CSI_CAM_MOTOR_RESET_PIN
                    int "MIPI CSI Camera Motor Reset Pin"
                    default -1
                    range -1 56

                config EXAMPLE_MIPI_CSI_CAM_MOTOR_PWDN_PIN
                    int "MIPI CSI Camera Motor Power Down Pin"
                    default -1
                    range -1 56

                config EXAMPLE_MIPI_CSI_CAM_MOTOR_SIGNAL_PIN
                    int "MIPI CSI Camera Motor Power Down Pin"
                    default -1
                    range -1 56
            endif
        endif

        if EXAMPLE_ENABLE_DVP_CAM_SENSOR
            config EXAMPLE_DVP_SCCB_I2C_SCL_PIN
                int "DVP SCCB I2C SCL Pin"
                default 33
                range -1 56

            config EXAMPLE_DVP_SCCB_I2C_SDA_PIN
                int "DVP SCCB I2C SDA Pin"
                default 32
                range -1 56

            config EXAMPLE_DVP_CAM_SENSOR_RESET_PIN
                int "DVP Camera Sensor Reset Pin"
                default -1
                range -1 56

            config EXAMPLE_DVP_CAM_SENSOR_PWDN_PIN
                int "DVP Camera Sensor Power Down Pin"
                default -1
                range -1 56

            config EXAMPLE_DVP_XCLK_PIN
                int "DVP XCLK Pin"
                range 0 56
                default 20

            config EXAMPLE_DVP_PCLK_PIN
                int "DVP PCLK Pin"
                range 0 56
                default 21

            config EXAMPLE_DVP_VSYNC_PIN
                int "DVP VSYNC Pin"
                range 0 56
                default 23

            config EXAMPLE_DVP_DE_PIN
                int "DVP DE Pin"
                range 0 56
                default 22

            config EXAMPLE_DVP_D0_PIN
                int "DVP D0 Pin"
                range 0 56
                default 53

            config EXAMPLE_DVP_D1_PIN
                int "DVP D1 Pin"
                range 0 56
                default 54

            config EXAMPLE_DVP_D2_PIN
                int "DVP D2 Pin"
                range 0 56
                default 52

            config EXAMPLE_DVP_D3_PIN
                int "DVP D3 Pin"
                range 0 56
                default 1

            config EXAMPLE_DVP_D4_PIN
                int "DVP D4 Pin"
                range 0 56
                default 0

            config EXAMPLE_DVP_D5_PIN
                int "DVP D5 Pin"
                range 0 56
                default 45

            config EXAMPLE_DVP_D6_PIN
                int "DVP D6 Pin"
                range 0 56
                default 46

            config EXAMPLE_DVP_D7_PIN
                int "DVP D7 Pin"
                range 0 56
                default 47
        endif

        if EXAMPLE_ENABLE_SPI_CAM_SENSOR
            config EXAMPLE_SPI_SCCB_I2C_SCL_PIN
                int "SPI SCCB I2C SCL Pin"
                default 8
                range -1 56

            config EXAMPLE_SPI_SCCB_I2C_SDA_PIN
                int "SPI SCCB I2C SDA Pin"
                default 7
                range -1 56

            config EXAMPLE_SPI_CAM_SENSOR_RESET_PIN
                int "SPI Camera Sensor Reset Pin"
                default -1
                range -1 56

            config EXAMPLE_SPI_CAM_SENSOR_PWDN_PIN
                int "SPI Camera Sensor Power Down Pin"
                default -1
                range -1 56

            config EXAMPLE_SPI_CAM_XCLK_PIN
                int "Output XCLK Pin for SPI Sensor"
                range 0 56
                default 20

            config EXAMPLE_SPI_CAM_CS_PIN
                int "SPI Camera Sensor CS Pin"
                default 37
                range 0 56
            
            config EXAMPLE_SPI_CAM_SCLK_PIN
                int "SPI Camera Sensor SCLK Pin"
                default 4
                range 0 56

            config EXAMPLE_SPI_CAM_DATA0_IO_PIN
                int "SPI Camera Sensor Data0 I/O Pin"
                default 21
                range 0 56
        endif
    endif

    config EXAMPLE_SCCB_I2C_INIT_BY_APP
        bool "Camera device uses an initialized I2C port"
        default n
        help
            Select this option to use an explicitly initialized I2C master bus for the camera sensor. 
            When enabled, the application must initialize the I2C bus before using the camera sensor. 
            This allows the I2C master to be shared among multiple I2C devices.
endmenu
