menu "Example Configuration"
    menu "Example TinyUSB MSC Configuration"

        orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

        choice EXAMPLE_STORAGE_MEDIA
            prompt "Storage Media Used"
            default EXAMPLE_STORAGE_MEDIA_SPIFLASH
            help
                Select the storage media that is exposed to USB host.

            config EXAMPLE_STORAGE_MEDIA_SPIFLASH
                bool "SPI FLASH"

            config EXAMPLE_STORAGE_MEDIA_SDMMC
                bool "SDMMC CARD"
                depends on IDF_TARGET_ESP32P4
        endchoice

        if EXAMPLE_STORAGE_MEDIA_SDMMC

            choice EXAMPLE_SDMMC_BUS_WIDTH
                prompt "SD/MMC bus width"
                default EXAMPLE_SDMMC_BUS_WIDTH_1
                help
                    Select the bus width of SD or MMC interface.
                    Note that even if 1 line mode is used, D3 pin of the SD card must
                    have a pull-up resistor connected. Otherwise the card may enter
                    SPI mode, the only way to recover from which is to cycle power to the card.

                config EXAMPLE_SDMMC_BUS_WIDTH_4
                    bool "4 lines (D0 - D3)"

                config EXAMPLE_SDMMC_BUS_WIDTH_1
                    bool "1 line (D0)"
            endchoice

            if SOC_SDMMC_USE_GPIO_MATRIX

                config EXAMPLE_PIN_CMD
                    int "CMD GPIO number"
                    range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
                    default 44 if IDF_TARGET_ESP32P4
                    default 35

                config EXAMPLE_PIN_CLK
                    int "CLK GPIO number"
                    range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
                    default 43 if IDF_TARGET_ESP32P4
                    default 36

                config EXAMPLE_PIN_D0
                    int "D0 GPIO number"
                    range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
                    default 39 if IDF_TARGET_ESP32P4
                    default 37

                if EXAMPLE_SDMMC_BUS_WIDTH_4

                    config EXAMPLE_PIN_D1
                        int "D1 GPIO number"
                        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
                        default 40 if IDF_TARGET_ESP32P4
                        default 38

                    config EXAMPLE_PIN_D2
                        int "D2 GPIO number"
                        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
                        default 41 if IDF_TARGET_ESP32P4
                        default 33

                    config EXAMPLE_PIN_D3
                        int "D3 GPIO number"
                        range ENV_GPIO_RANGE_MIN ENV_GPIO_IN_RANGE_MAX
                        default 42 if IDF_TARGET_ESP32P4
                        default 34

                endif  # EXAMPLE_SDMMC_BUS_WIDTH_4

            endif  # SOC_SDMMC_USE_GPIO_MATRIX

            config EXAMPLE_SD_PWR_CTRL_LDO_INTERNAL_IO
                depends on SOC_SDMMC_IO_POWER_EXTERNAL
                bool "SDMMC powered by internal LDO"
                default y
                help
                    Enable when internal LDO of ESP32-P4 is used as a power supply for SD card. Specify the LDO IO.
                    Disable when external power supply is used as a power supply for SD card.

            config EXAMPLE_SD_PWR_CTRL_LDO_IO_ID
                depends on SOC_SDMMC_IO_POWER_EXTERNAL && EXAMPLE_SD_PWR_CTRL_LDO_INTERNAL_IO
                int "LDO IO"
                default 4 if IDF_TARGET_ESP32P4
                help
                    There are several IOs in ESP32-P4 which are in "SD card IO" power domain.
                    Power has to be supplied to this power domain externally (from outside the chip) via one of the pins.
                    Based on the schematic, specify the LDO IO pin.

        endif  # EXAMPLE_STORAGE_MEDIA_SDMMC

    endmenu
    menu "Example Video Configuration"
        choice EXAMPLE_STORAGE_IMAGE_FORMAT
            bool "Image Storage Format"
            default EXAMPLE_FORMAT_MJPEG
            config EXAMPLE_FORMAT_MJPEG
                bool "MJPEG"
            config EXAMPLE_FORMAT_H264
                bool "H264"
            config EXAMPLE_FORMAT_NON_ENCODE
                bool "Non-Encode"
        endchoice

        if EXAMPLE_FORMAT_MJPEG
            config EXAMPLE_JPEG_COMPRESSION_QUALITY
                int "JPEG Compression Quality"
                default 80
                range 1 100
                help
                    JPEG compression quality, higher value means higher output
                    image quality.
        endif

        if EXAMPLE_FORMAT_H264
            config EXAMPLE_H264_I_PERIOD
                int "H.264 Intra Frame period"
                default 120
                range 1 120
                help
                    H.264 I-Frame period.
            
            config EXAMPLE_H264_BITRATE
                int "H.264 Bitrate"
                default 1000000
                range 25000 2500000
                help
                    H.264 bitrate.
            
            config EXAMPLE_H264_MIN_QP
                int "H.264 Minimum Quality"
                default 25
                range 1 51
                help
                    H.264 minimum quality, the value should be less than H.264 maximum quality.

            config EXAMPLE_H264_MAX_QP
                int "H.264 Maximum Quality"
                default 26
                range EXAMPLE_H264_MIN_QP 51
                help
                    H.264 maximum quality, the value should be larger than H.264 minimum quality.
        endif
    endmenu
endmenu
