menu "Example Configuration"

    choice MIPI_CAM_SENSOR
        prompt "MIPI camera sensor"
        default MIPI_SENSOR_OV5640
        help
            The camera sensor connected to esp32 board.

        config MIPI_SENSOR_OV5640
            bool "MIPI OV5640"
        config MIPI_SENSOR_OV5647
            bool "MIPI OV5647"
        config MIPI_SENSOR_IMX219
            bool "MIPI IMX219"
    endchoice

    config EXAMPLE_MIPI_IDI_CLOCK_RATE
        int " IDI clock rate"
        default 182400000 if MIPI_SENSOR_IMX219
        default 100000000 if MIPI_SENSOR_OV5647
        default 80000000

    choice EXAMPLE_CAM_SENSOR_FORMAT
        prompt "Camera sensor output format"
        default SENSOR_FORMAT_RAW8
        help
            The camera sensor out type.

        config SENSOR_FORMAT_RAW8
            bool "RAW8"
        config SENSOR_FORMAT_RGB565
            bool "RGB565"
        config SENSOR_FORMAT_RGB888
            bool "RGB888"
    endchoice

    config EXAMPLE_CAM_HSIZE
        int "cam image width"
        default 800

    config EXAMPLE_CAM_VSIZE
        int "cam image height"
        default 800
endmenu
