menuconfig CAMERA_BF3A03
    bool "BF3A03"
    default n
    depends on SOC_LCDCAM_CAM_SUPPORTED
    help
        Enable support for the BF3A03 CMOS image sensor.

if CAMERA_BF3A03
    menu "Auto detect BF3A03"
        config CAMERA_BF3A03_AUTO_DETECT_DVP_INTERFACE_SENSOR
            bool "Detect for DVP interface sensor"
            default y
            help
                When enabled, the BF3A03 sensor will be automatically detected
                and initialized on the DVP interface at startup without requiring
                manual detection call(bf3a03_detect) in your application.
    endmenu

    choice CAMERA_BF3A03_DVP_DEFAULT_FMT
        prompt "Select default output format for DVP interface"
        default CAMERA_BF3A03_DVP_YUV422_640X480_15FPS
        help
            This option allows you to select the default video format for the BF3A03 sensor
            when it is initialized on the DVP interface. The selected format will be used
            when the sensor is detected and initialized, and can be changed later when the
            sensor is in stream off state.

        config CAMERA_BF3A03_DVP_YUV422_640X480_15FPS
            bool "YUV422 640x480 15fps, DVP 8-bit, 20M input"
            help
                Standard color format using YUV422 at 640x480 resolution (VGA)
                with 15fps framerate. Requires 8-bit DVP interface and 20MHz input.

        config CAMERA_BF3A03_DVP_YUV422_MONO_640X480_15FPS
            bool "YUV422(MONO) 640x480 15fps, DVP 8-bit, 20M input"
            help
                Grayscale format using YUV422 mono at 640x480 resolution (VGA)
                with 15fps framerate. Requires 8-bit DVP interface and 20MHz input.
    endchoice # CAMERA_BF3A03_DVP_DEFAULT_FMT

    config CAMERA_BF3A03_DVP_IF_FORMAT_INDEX_DEFAULT
        int
        default 0 if CAMERA_BF3A03_DVP_YUV422_640X480_15FPS
        default 1 if CAMERA_BF3A03_DVP_YUV422_MONO_640X480_15FPS
        help
            Sets the default configuration for the DVP interface.
            Use query_support_formats() API to get more format options.
endif
