CONFIG_MIPI_CSI_LINESYNC_SUPPORT=y


#
# These configurations are only for esp32p4 can run, should be removed later
#
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y

CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_PARTITION_TABLE_FILENAME="partitions_singleapp.csv"

CONFIG_ESP_VIDEO_MEDIA_EMBED_FILE="configs/sim_default.json"

CONFIG_IDF_TARGET="esp32p4"

CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_20M=y

# CONFIG_CAMERA_SC2336 is not set
CONFIG_CAMERA_SIM=y
CONFIG_CAMERA_SIM_AUTO_DETECT=y
CONFIG_CAMERA_SIM_NAME="sim_cam"
