menuconfig CAMERA_SC2336
    bool "SC2336"
    default n
    help
        Enabling this option will add the support for SC2336.

    config CAMERA_SC2336_AUTO_DETECT
        bool "Auto detect SC2336"
        default y
        depends on CAMERA_SC2336
        help
            When enabled, you don't need to call sc2336_detect manaually, SC2336 will be automatically detected
            when esp_camera_init is called.

    menu "Interface"
        depends on CAMERA_SC2336
        config CAMERA_SC2336_INTERFACE_CSI
            bool "CSI"
            default y
            help
                If enabled, the SC2336 will be connected to the CSI interface.
        config CAMERA_SC2336_INTERFACE_DVP
            bool "DVP"
            default n
            help
                If enabled, the SC2336 will be connected to the DVP interface.
    endmenu

    config CAMERA_SC2336_MAX_SUPPORT
        int "Support for a maximum number of connected SC2336"
        depends on CAMERA_SC2336
        default 1
        range 1 3 if IDF_TARGET_ESP32P4
        range 1 1 if !IDF_TARGET_ESP32P4
        help
            Set the number of connected SC2336.
