menuconfig CAMERA_SC2336
    bool "SC2336"
    default y
    help
        Enabling this option will add the support for SC2336.

    menu "Interface"
        depends on CAMERA_SC2336
        config CAMERA_SC2336_INTERFACE_CSI
            bool "CSI"
            default y
            help
                If enabled, the SC2336 will be connected to the CSI interface.
        config CAMERA_SC2336_INTERFACE_DVP
            bool "DVP"
            default n
            help
                If enabled, the SC2336 will be connected to the DVP interface.
    endmenu