CONFIG_ESP_VIDEO_ENABLE_USB_UVC_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_JPEG_DEC_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_JPEG_ENC_VIDEO_DEVICE=y

CONFIG_MAIN_TASK_STACK_SIZE=5120

CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=1024

CONFIG_VFS_MAX_COUNT=12
