menuconfig CAMERA_BF3901
    bool "BF3901"
    default n
    help
        Enabling this option will add the support for BF3901.

if CAMERA_BF3901
    menu "Auto detect BF3901"
        config CAMERA_BF3901_AUTO_DETECT_SPI_INTERFACE_SENSOR
            bool "Detect for SPI interface sensor"
            default n
            help
                When enabled, you don't need to call bf3901_detect manaually, BF3901 will
                be automatically detected and connected to the SPI interface when the
                application starts.
    endmenu

    choice CAMERA_BF3901_SPI_DEFAULT_FMT
        prompt "Default format select"
        default CAMERA_BF3901_SPI_YUV422_240X320_10FPS
        help
            Select the default format to load when the sensor is detected.
            When the sensor is in stream off state, the format can be changed.
    
        config CAMERA_BF3901_SPI_RGB565_240X320_10FPS
            bool "RGB565 240x320 10fps, SPI 1bit 24M input"
        config CAMERA_BF3901_SPI_YUV422_240X320_10FPS
            bool "YUV422 240x320 10fps, SPI 1bit 24M input"
    endchoice # CAMERA_BF3901_SPI_DEFAULT_FMT

    config CAMERA_BF3901_SPI_IF_FORMAT_INDEX_DEFAULT
        int
        default 0 if CAMERA_BF3901_SPI_RGB565_240X320_10FPS
        default 1 if CAMERA_BF3901_SPI_YUV422_240X320_10FPS
        help
            Set the configuration loaded by default for the SPI interface.
            More information can be obtained by calling the query_support_formats().
endif
