menuconfig CAMERA_BF3901
    bool "BF3901"
    default n
    help
        Enable support for the BF3901 CMOS image sensor.

if CAMERA_BF3901
    menu "Auto detect BF3901"
        config CAMERA_BF3901_AUTO_DETECT_SPI_INTERFACE_SENSOR
            bool "Detect for SPI interface sensor"
            default y
            help
                When enabled, the BF3901 sensor will be automatically detected
                and initialized on the SPI interface at startup without requiring
                manual detection call(bf3901_detect) in your application.
    endmenu

    choice CAMERA_BF3901_SPI_DEFAULT_FMT
        prompt "Select default output format for SPI interface"
        default CAMERA_BF3901_SPI_YUV422_240X320_15FPS if CAMERA_SENSOR_XCLK_INPUT_24M
        default CAMERA_BF3901_SPI_YUV422_120X160_5FPS
        help
            This option allows you to select the default video format for the BF3901 sensor
            when it is initialized on the SPI interface. The selected format will be used
            when the sensor is detected and initialized, and can be changed later when the
            sensor is in stream off state.

        config CAMERA_BF3901_SPI_RGB565_240X320_15FPS
            bool "RGB565 240x320 15fps, SPI 1-bit, 24M input"
            help
                RGB565 color format at 240x320 resolution with 15fps framerate.
                Requires 1-bit SPI interface with 24MHz input clock.
        config CAMERA_BF3901_SPI_YUV422_240X320_15FPS
            bool "YUV422 240x320 15fps, SPI 1-bit, 24M input"
            help
                YUV422 color format at 240x320 resolution with 15fps framerate.
                Requires 1-bit SPI interface with 24MHz input clock.
        config CAMERA_BF3901_SPI_YUV422_240X320_12FPS
            bool "YUV422 240x320 12fps, SPI 1-bit, 20M input"
            help
                YUV422 color format at 240x320 resolution with 12fps framerate.
                Requires 1-bit SPI interface with 20MHz input clock.
        config CAMERA_BF3901_SPI_YUV422_240X240_10FPS
            bool "YUV422 240x240 10fps, SPI 1-bit, 24M input"
            help
                YUV422 color format at 240x240 resolution with 10fps framerate.
                Requires 1-bit SPI interface with 24MHz input clock.
        config CAMERA_BF3901_SPI_YUV422_120X160_10FPS
            bool "YUV422 120x160 10fps, SPI 1-bit, 24M input"
            help
                YUV422 color format at 120x160 resolution with 10fps framerate.
                Requires 1-bit SPI interface with 24MHz input clock.
        config CAMERA_BF3901_SPI_YUV422_120X160_5FPS
            bool "YUV422 120x160 5fps, SPI 1-bit, 20M input"
            help
                YUV422 color format at 120x160 resolution with 5fps framerate.
                Requires 1-bit SPI interface with 20MHz input clock.
        config CAMERA_BF3901_SPI2_YUV422_240X320_20FPS
            bool "YUV422 240x320 20fps, SPI 2-bit 24M input"
            help
                YUV422 color format at 240x320 resolution with 20fps framerate.
                Requires 2-bit SPI interface with 24MHz input clock.
    endchoice # CAMERA_BF3901_SPI_DEFAULT_FMT

    config CAMERA_BF3901_SPI_IF_FORMAT_INDEX_DEFAULT
        int
        default 0 if CAMERA_BF3901_SPI_RGB565_240X320_15FPS
        default 1 if CAMERA_BF3901_SPI_YUV422_240X320_15FPS
        default 2 if CAMERA_BF3901_SPI_YUV422_240X320_12FPS
        default 3 if CAMERA_BF3901_SPI_YUV422_240X240_10FPS
        default 4 if CAMERA_BF3901_SPI_YUV422_120X160_10FPS
        default 5 if CAMERA_BF3901_SPI_YUV422_120X160_5FPS
        default 6 if CAMERA_BF3901_SPI2_YUV422_240X320_20FPS
        help
            Sets the default configuration for the SPI interface.
            Use query_support_formats() API to get more format options.
endif
