menuconfig CAMERA_SC035HGS
    bool "SC035HGS"
    default n
    help
        Enabling this option will add the support for SC035HGS.

if CAMERA_SC035HGS
    menuconfig CAMERA_SC035HGS_AUTO_DETECT
        bool "Auto detect SC035HGS"
        default y
        help
            When enabled, it provides the ability in application layer to automatically
            detect camera sensors one by one.

    if CAMERA_SC035HGS_AUTO_DETECT
        config CAMERA_SC035HGS_AUTO_DETECT_MIPI_INTERFACE_SENSOR
            bool "Detect for MIPI interface sensor"
            default y
            help
                When enabled, you don't need to call sc035hgs_detect manaually, SC035HGS will
                be automatically detected and connected to the MIPI interface when the
                application starts.
    endif

    choice CAMERA_SC035HGS_MIPI_DEFAULT_FMT
        prompt "Default format select"
        default CAMERA_SC035HGS_MIPI_RAW10_640X480_48FPS
        help
            Select the default format to load when the sensor is detected.
            When the sensor is in stream off state, the format can be changed.
    
        config CAMERA_SC035HGS_MIPI_RAW10_640X480_48FPS
            bool "RAW10 640x480 48fps, MIPI 1lane 20M input"
        config CAMERA_SC035HGS_MIPI_RAW10_640X480_120FPS
            bool "RAW10 640x480 120fps, MIPI 1lane 24M input"
        config CAMERA_SC035HGS_MIPI_RAW8_640X480_50FPS
            bool "RAW8 640x480 50fps, MIPI 2lane 24M input"
        config CAMERA_SC035HGS_MIPI_RAW8_640X480_100FPS
            bool "RAW8 640x480 100fps, MIPI 2lane 24M input"
    endchoice # CAMERA_SC035HGS_MIPI_DEFAULT_FMT

    config CAMERA_SC035HGS_MIPI_IF_FORMAT_INDEX_DAFAULT
        int
        default 0 if CAMERA_SC035HGS_MIPI_RAW10_640X480_48FPS
        default 1 if CAMERA_SC035HGS_MIPI_RAW10_640X480_120FPS
        default 2 if CAMERA_SC035HGS_MIPI_RAW8_640X480_50FPS
        default 3 if CAMERA_SC035HGS_MIPI_RAW8_640X480_100FPS
        help
            Set the configuration loaded by default for the MIPI interface.
            More information can be obtained by calling the query_support_formats().
    
    choice CAMERA_SC035HGS_IPA_JSON_CONFIGURATION_FILE
        prompt "IPA JSON Configuration File"
        default CAMERA_SC035HGS_DEFAULT_IPA_JSON_CONFIGURATION_FILE
        help
            Select SC035HGS JSON configuration file.

        config CAMERA_SC035HGS_DEFAULT_IPA_JSON_CONFIGURATION_FILE
            bool "Default"
            help
                Use the "esp_cam_sensor/sensors/sc035hgs/cfg/sc035hgs_mono_default.json".

        config CAMERA_SC035HGS_CUSTOMIZED_IPA_JSON_CONFIGURATION_FILE
            bool "Customized"
            help
                Use a customized SC035HGS JSON configuration file. Users should configure
                the file's path using the option "CAMERA_SC035HGS_CUSTOMIZED_IPA_JSON_CONFIGURATION_FILE_PATH."
    endchoice

    config CAMERA_SC035HGS_CUSTOMIZED_IPA_JSON_CONFIGURATION_FILE_PATH
        string "SC035HGS Customized JSON Configuration File Path"
        depends on CAMERA_SC035HGS_CUSTOMIZED_IPA_JSON_CONFIGURATION_FILE
        help
            Customized SC035HGS JSON configuration file's path and this path is evaluated
            relative to the project root directory by default.
endif
