CONFIG_SPIRAM=y

CONFIG_CAMERA_OV2640=y

CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_SPIRAM_SPEED_200M=y

CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=64
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65535
CONFIG_LWIP_TCP_WND_DEFAULT=65535
CONFIG_LWIP_TCP_RECVMBOX_SIZE=64
CONFIG_LWIP_MAX_SOCKETS=16

CONFIG_ESP_VIDEO_ENABLE_MIPI_CSI_VIDEO_DEVICE=n

CONFIG_EXAMPLE_ENABLE_DVP_CAM_SENSOR=y
