CONFIG_CAMERA_GC2145=y
CONFIG_CAMERA_OV2640=y

CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_200M=y

CONFIG_ESP_VIDEO_ENABLE_ISP_PIPELINE_CONTROLLER=y

CONFIG_EXAMPLE_ENABLE_DVP_CAM_SENSOR=y
CONFIG_EXAMPLE_SCCB_I2C_INIT_BY_APP=y
CONFIG_EXAMPLE_SELECT_ESP32P4_FUNCTION_EV_BOARD_V1_5=y
