menuconfig CAMERA_OV5647
    bool "OV5647"
    default n
    help
        Enabling this option will add the support for OV5647.

if CAMERA_OV5647
    menuconfig CAMERA_OV5647_AUTO_DETECT
        bool "Auto detect OV5647"
        default y
        help
            When enabled, it provides the ability in application layer to automatically
            detect camera sensors one by one.

    if CAMERA_OV5647_AUTO_DETECT
        config CAMERA_OV5647_AUTO_DETECT_MIPI_INTERFACE_SENSOR
            bool "Detect for MIPI interface sensor"
            default y
            help
                When enabled, you don't need to call ov5647_detect manaually, ov5647
                will be automatically detected and connected to the MIPI CSI interface
                when the application starts.
    endif

    config CAMERA_OV5647_MIPI_IF_FORMAT_INDEX_DAFAULT
        int "Default format index for OV5647 MIPI Interface"
        default 0
        range 0 1
        help
            Set the configuration loaded by default for the MIPI CSI interface.
            More information can be obtained by calling the query_formats().

    config CAMERA_OV5647_CSI_LINESYNC_ENABLE
        bool "CSI Line sync enable"
        default y
        help
            If enabled, send line short packet for each line.

    config CAMERA_OV5647_ISP_AF_ENABLE
        bool "AF(auto focus) enable"
        default y
        help
            If enabled, the camera module will enable some IO pins to drive the
            VCM motor.
endif
