
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHMODE_FASTRD=y
CONFIG_ESPTOOLPY_FLASHMODE="fastrd"
# CONFIG_ESPTOOLPY_FLASHFREQ_80M is not set
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y
# CONFIG_ESPTOOLPY_FLASHFREQ_20M is not set
CONFIG_ESPTOOLPY_FLASHFREQ="40m"
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
# CONFIG_ESPTOOLPY_FLASHSIZE_16MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_BEFORE_RESET=y

#
# ESP32P4-Specific
#
# CONFIG_ESP32P4_DEFAULT_CPU_FREQ_80 is not set
# CONFIG_ESP32P4_DEFAULT_CPU_FREQ_160 is not set
CONFIG_ESP32P4_DEFAULT_CPU_FREQ_320=y
CONFIG_ESP32P4_DEFAULT_CPU_FREQ_MHZ=320

#
# Cache config
#
CONFIG_ESP32P4_L2_CACHE_SIZE_128KB=y
# CONFIG_ESP32P4_L2_CACHE_SIZE_256KB is not set
CONFIG_ESP32P4_L2_CACHE_LINE_64B=y
# CONFIG_ESP32P4_L2_CACHE_LINE_128B is not set
# end of Cache config

# CONFIG_ESP32P4_REV_MIN_0 is not set
# CONFIG_ESP32P4_REV_MIN_1 is not set
# CONFIG_ESP32P4_REV_MIN_2 is not set
CONFIG_ESP32P4_REV_MIN_3=y
CONFIG_ESP32P4_REV_MIN=3
CONFIG_ESP32P4_DEBUG_OCDAWARE=y
# CONFIG_ESP32P4_DEBUG_STUBS_ENABLE is not set
CONFIG_ESP32P4_BROWNOUT_DET=y
CONFIG_ESP32P4_BROWNOUT_DET_LVL_SEL_7=y
# CONFIG_ESP32P4_BROWNOUT_DET_LVL_SEL_6 is not set
# CONFIG_ESP32P4_BROWNOUT_DET_LVL_SEL_5 is not set
# CONFIG_ESP32P4_BROWNOUT_DET_LVL_SEL_4 is not set
# CONFIG_ESP32P4_BROWNOUT_DET_LVL_SEL_3 is not set
# CONFIG_ESP32P4_BROWNOUT_DET_LVL_SEL_2 is not set
CONFIG_ESP32P4_BROWNOUT_DET_LVL=7
CONFIG_ESP32P4_TIME_SYSCALL_USE_RTC_SYSTIMER=y
# CONFIG_ESP32P4_TIME_SYSCALL_USE_RTC is not set
# CONFIG_ESP32P4_TIME_SYSCALL_USE_SYSTIMER is not set
# CONFIG_ESP32P4_TIME_SYSCALL_USE_NONE is not set
# CONFIG_ESP32P4_ULP_COPROC_ENABLED is not set
CONFIG_ESP32P4_ULP_COPROC_RESERVE_MEM=0
CONFIG_ESP32P4_RTC_CLK_SRC_INT_RC=y
# CONFIG_ESP32P4_RTC_CLK_SRC_EXT_CRYS is not set
# CONFIG_ESP32P4_RTC_CLK_SRC_EXT_OSC is not set
# CONFIG_ESP32P4_RTC_CLK_SRC_INT_8MD256 is not set
CONFIG_ESP32P4_RTC_CLK_CAL_CYCLES=1024
# CONFIG_ESP32P4_NO_BLOBS is not set
CONFIG_ESP32P4_LIGHTSLEEP_GPIO_RESET_WORKAROUND=y
CONFIG_ESP32P4_SPIRAM_SUPPORT=y

#
# SPI RAM config
#
# CONFIG_SPIRAM_MODE_SINGLE_BANK is not set
# CONFIG_SPIRAM_MODE_DUAL_BANK_SINGLE_RAM is not set
CONFIG_SPIRAM_MODE_DUAL_BANK_DUAL_RAM=y
CONFIG_SPIRAM_MODE_OCT=y
# CONFIG_SPIRAM_DUAL_BANK_FETCH_INSTRUCTION_RODATA is not set
CONFIG_SPIRAM_TYPE_AUTO=y
# CONFIG_SPIRAM_TYPE_ESPPSRAM64 is not set
CONFIG_SPIRAM_SIZE=-1

#
# PSRAM Clock and CS IO for ESP32P4
#
CONFIG_DEFAULT_PSRAM_CLK_IO=30
CONFIG_DEFAULT_PSRAM_CS_IO=26
# end of PSRAM Clock and CS IO for ESP32P4

# CONFIG_SPIRAM_FETCH_INSTRUCTIONS_RODATA is not set
CONFIG_SPIRAM_SPEED_200M=y
# CONFIG_SPIRAM_SPEED_100M is not set
# CONFIG_SPIRAM_SPEED_50M is not set
# CONFIG_SPI_RAM_ECC_EN is not set
CONFIG_SPI_RAM_SPLICE_EN=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
# CONFIG_SPIRAM_IGNORE_NOTFOUND is not set
# CONFIG_SPIRAM_USE_MEMMAP is not set
# CONFIG_SPIRAM_USE_CAPS_ALLOC is not set
CONFIG_SPIRAM_USE_MALLOC=y
# CONFIG_SPIRAM_MEMTEST is not set
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
# CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP is not set
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=32768
# end of SPI RAM config
# end of ESP32P4-Specific

CONFIG_MIPI_CSI_LINESYNC_SUPPORT=y
