menu "SCCB configuration"
    choice SCCB_PERIPHERAL_DRIVER
        bool "Peripherals used to implement SCCB"
        default SCCB_IMPLEMENT_I2C
        help
            Select the peripheral driver used to implement SCCB.

        config SCCB_IMPLEMENT_I2C
            bool "I2C"
        config SCCB_IMPLEMENT_I3C
            bool "I3C"
    endchoice

    config SCCB_CLK_FREQ
    int "SCCB clk frequency"
    default 100000
    range 100000 400000
    help
        Increasing this value can reduce the initialization time of the sensor.
        Please refer to the relevant instructions of the sensor to adjust the value.
endmenu
