CONFIG_CAMERA_BF3901=y
CONFIG_CAMERA_BF3901_AUTO_DETECT_SPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_BF3901_SPI_YUV422_120X160_5FPS=y

CONFIG_ESP_VIDEO_ENABLE_SPI_VIDEO_DEVICE=y

CONFIG_EXAMPLE_ENABLE_SPI_CAM_SENSOR=y
