CONFIG_CAMERA_SC2336=y

CONFIG_IDF_EXPERIMENTAL_FEATURES=y

CONFIG_SPIRAM=y

CONFIG_SPIRAM_SPEED_200M=y

CONFIG_EXAMPLE_ENABLE_CAM_SENSOR_PIC_HFLIP=y
CONFIG_EXAMPLE_ENABLE_CAM_SENSOR_PIC_VFLIP=y
CONFIG_EXAMPLE_VIDEO_BUFFER_TYPE_USER=y
