CONFIG_CAMERA_BF3901=y
CONFIG_CAMERA_XCLK_USE_LEDC=y
CONFIG_ESP_VIDEO_ENABLE_SPI_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_THE_SECOND_SPI_VIDEO_DEVICE=y
CONFIG_EXAMPLE_ENABLE_SPI_CAM_SENSOR=y
CONFIG_EXAMPLE_ENABLE_SPI_CAM_1_SENSOR=y
CONFIG_EXAMPLE_SCCB_I2C_INIT_BY_APP=y
CONFIG_EXAMPLE_SELECT_CUSTOMIZED_DEV_BOARD=y
CONFIG_EXAMPLE_SPI_CAM_0_XCLK_USE_CLOCK_ROUTER=y
