CONFIG_EXAMPLE_ENABLE_SPI_CAM_SENSOR CONFIG_EXAMPLE_ENABLE_SPI_CAM_0_SENSOR
CONFIG_EXAMPLE_SPI_SCCB_I2C_PORT CONFIG_EXAMPLE_SPI_CAM_0_SCCB_I2C_PORT
CONFIG_EXAMPLE_SPI_SCCB_I2C_FREQ CONFIG_EXAMPLE_SPI_CAM_0_SCCB_I2C_FREQ
CONFIG_EXAMPLE_SPI_CAM_SPI_PORT CONFIG_EXAMPLE_SPI_CAM_0_SPI_PORT
CONFIG_EXAMPLE_SPI_CAM_XCLK_SOURCE CONFIG_EXAMPLE_SPI_CAM_0_XCLK_SOURCE
CONFIG_EXAMPLE_SPI_CAM_XCLK_USE_LEDC CONFIG_EXAMPLE_SPI_CAM_0_XCLK_USE_LEDC
CONFIG_EXAMPLE_SPI_CAM_XCLK_USE_CLOCK_ROUTER CONFIG_EXAMPLE_SPI_CAM_0_XCLK_USE_CLOCK_ROUTER
CONFIG_EXAMPLE_SPI_CAM_XCLK_FREQ CONFIG_EXAMPLE_SPI_CAM_0_XCLK_FREQ
CONFIG_EXAMPLE_SPI_CAM_XCLK_TIMER CONFIG_EXAMPLE_SPI_CAM_0_XCLK_TIMER
CONFIG_EXAMPLE_SPI_CAM_XCLK_TIMER_CHANNEL CONFIG_EXAMPLE_SPI_CAM_0_XCLK_TIMER_CHANNEL
CONFIG_EXAMPLE_SPI_SCCB_I2C_SCL_PIN CONFIG_EXAMPLE_SPI_CAM_0_SCCB_I2C_SCL_PIN
CONFIG_EXAMPLE_SPI_SCCB_I2C_SDA_PIN CONFIG_EXAMPLE_SPI_CAM_0_SCCB_I2C_SDA_PIN
CONFIG_EXAMPLE_SPI_CAM_SENSOR_RESET_PIN CONFIG_EXAMPLE_SPI_CAM_0_SENSOR_RESET_PIN
CONFIG_EXAMPLE_SPI_CAM_SENSOR_PWDN_PIN CONFIG_EXAMPLE_SPI_CAM_0_SENSOR_PWDN_PIN
CONFIG_EXAMPLE_SPI_CAM_XCLK_PIN CONFIG_EXAMPLE_SPI_CAM_0_XCLK_PIN
CONFIG_EXAMPLE_SPI_CAM_CS_PIN CONFIG_EXAMPLE_SPI_CAM_0_CS_PIN
CONFIG_EXAMPLE_SPI_CAM_SCLK_PIN CONFIG_EXAMPLE_SPI_CAM_0_SCLK_PIN
CONFIG_EXAMPLE_SPI_CAM_DATA0_IO_PIN CONFIG_EXAMPLE_SPI_CAM_0_DATA0_IO_PIN