CONFIG_EXAMPLE_FORMAT_STORAGE_IF_MOUNT_FAILED=y
CONFIG_EXAMPLE_FORMAT_STORAGE=y
CONFIG_EXAMPLE_SDMMC_DEBUG_PIN_CONNECTIONS=y
CONFIG_EXAMPLE_ENABLE_ADC_FEATURE=y

CONFIG_FATFS_VFS_FSTAT_BLKSIZE=4096
CONFIG_ESP_TASK_WDT_EN=n
