menu "Example Configuration"

    choice EXAMPLE_VIDEO_BUFFER_TYPE
        prompt "Video Buffer Type"
        default EXAMPLE_VIDEO_BUFFER_TYPE_USER
        depends on EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR
        help
            Select video buffer type:
            
            - User buffer, users should allocate and free the buffer manually
            - Driver buffer, drivers allocate and free the buffer automatically

        config EXAMPLE_VIDEO_BUFFER_TYPE_USER
            bool "User Buffer"

        config EXAMPLE_VIDEO_BUFFER_TYPE_DRIVER
            bool "Driver Buffer"
    endchoice

    config EXAMPLE_ENABLE_CAM_SENSOR_PIC_VFLIP
        bool "Enable Camera Sensor Picture Vertical Flip"
        default n
        help
            Select this option, enable camera sensor picture vertical flip.

    config EXAMPLE_ENABLE_CAM_SENSOR_PIC_HFLIP
        bool "Enable Camera Sensor Picture Horizontal Flip"
        default n
        help
            Select this option, enable camera sensor picture horizontal flip.
endmenu
